/* * {
    outline: 1px solid red;
} */
.container-fluid {
    height: 100vh;
}
.sel-pos {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#character-selection {
    height: fit-content;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6%;
}
.both-char-pos {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
}
.char-pos {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}
.your-char {
   padding: 3em 0;
    overflow: hidden;
}
.char-icon {
    font-size: 25em;
    padding-top: 5px;
}
.ninja, .spy {
    color: black;
}
.yellow-ninja, .yellow-spy {
    color: rgb(233, 233, 58);
}
.red-ninja, .red-spy {
    color: red;
}
.weap-icon {
    font-size: 5em;
    padding: 0 5px;
}
.your-attack {
    position: relative;
    right: 3em;
    top: 2.5em;
}
.your-weapons {
    display: flex;
    flex-flow: wrap column;
    height: 50vh;
    width: fit-content;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgb(159, 180, 236);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.attacks {
    visibility: hidden;
    display: flex;
    justify-content: center;
    color: white;
    background-color: blue;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.comp-weapons {
    visibility: hidden;
}
.chop, .jab {
    color: #CC8443;
}
.jab {
    transform: rotateY(180deg);
}
.ninja-star {
    height: 6em;
    width: auto;
}
.pen {
    color: rgb(136, 1, 1);
    /* transform: rotateZ(225deg); */
}
.magnify-glass {
    color: #8c8d8f;
}
.bomb {
    color: black;
}
.keep-space {
    height: 25em;
    width: 25em;
    display: flex;
    justify-content: center;
}
.damage-flash {
    font-size: 18em;
}
.splatter {
    max-width: 30vw;
    height: auto;
}
.restart {
    font-size: 3em;
    position: relative;
    left: 8em;
    visibility: hidden;
}
.health-all {
    display: flex;
    flex-flow: wrap column;
    visibility: hidden;
    width: 30vw;
}
.power-ups {
    display: flex;
    justify-content: center;
    color: white;
    background-color: green;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.healths {
    padding: 5px 0;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgb(193, 224, 193);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.comp-healths {
    width: 30vw;
    padding-bottom: 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.apple {
    font-size: 5em;
    color: #5EBD3E;
}
.old-apple {
    font-size: 5em;
    color: rgb(131, 153, 103); 
}
.shield {
    font-size: 5em;
}
.shield-on-1 {
    font-size: 5em;
    color: gold;
}
.med-kit {
    font-size: 5em;
    color: whitesmoke;
    background-color: red;
    padding: 0 2px 2px;
    border-radius: 5px;
}
/* MOBILE */
@media (pointer: coarse) and (hover: none) {    
    .both-char-pos {
        flex-flow: wrap column-reverse;
    }    
    .char-icon {
        font-size: 11em;
        /* padding-left: 10px; */
    }
    .char-pos {
        flex-flow: wrap row;
    }
    .your-char {
        padding-bottom: 0;
        width: fit-content;
    }
    .weap-icon {
        font-size: 3em;
        padding-left: .5em;
    }
    .health-all {
        width: fit-content;
        position: relative;
        right: .5em;
    }
    .healths, .comp-healths {
        height: 30vh;
        width: fit-content;
        padding-bottom: 0;
        flex-flow: wrap column;
        align-items: center;
    }
    .comp-healths {
        position: relative;
        right: .5em;
    }
    .damage-flash {
        font-size: 5em;
    }
    .keep-space {
        height: fit-content;
        width: 50vw;
    }
    .restart {
        font-size: 2em;
        position: relative;
        left: .5em;
    }
    .your-attack {
        right: 0;
        top: 0;
        left: .5em;
    }
    .your-weapons {        
        width: fit-content;
        height: 30vh;
    }
    .weap-icon {
        padding: 0 3px;
    }
    .ninja-star {
        height: 4em;
        width: auto;
        transform: rotateZ(45deg);
    }
    .apple {
        font-size: 3em;
    }
    .old-apple {
        color: rgb(131, 153, 103); 
        font-size: 3em;
    }
    .shield {
        font-size: 3em;
    }
    .shield-on-1 {
        font-size: 3em;
    }
    .med-kit {
        font-size: 3em;
    }
    .power-ups {
        font-size: .7em;
    }
}