/* * {
    outline: 1px solid red;
} */

.container-fluid {
    height: 100vh;
}

.sel-pos {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#character-selection {
    height: fit-content;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6%;
}

.both-char-pos {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
}

.char-pos {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}

.char-icon {
    font-size: 25em;
}

.ninja, .spy {
    color: black;
}

.yellow-ninja, .yellow-spy {
    color: rgb(233, 233, 58);
}

.red-ninja, .red-spy {
    color: red;
}

.weap-icon {
    font-size: 5em;
}

.your-weapons, .comp-weapons {
    width: 25vw;
    padding-bottom: 1em;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.chop, .jab {
    color: #CC8443;
}

.jab {
    transform: rotateY(180deg);
}

.pen {
    color: #010048;
}

.paper-clip {
    color: #8c8d8f;
}

.damage-flash {
    font-size: 18em;
    height: 100%;
}

.splatter {
    max-width: 30vw;
    height: auto;
}

.restart {
    font-size: 3em;
    position: relative;
    left: 8em;
    visibility: hidden;
}

.apple {
    font-size: 5em;
    position: relative;
    right: .5em;
    color: #5EBD3E;
}

.old-apple {
    font-size: 5em;
    position: relative;
    right: .5em;
    color: rgb(131, 153, 103); 
}

/* MOBILE */
@media (pointer: coarse) and (hover: none) {    
    .both-char-pos {
        flex-flow: wrap column-reverse;
    }    
    .char-icon {
        font-size: 10em;
    }
    .char-pos {
        flex-flow: wrap row-reverse;
    }
    .weap-icon {
        font-size: 3em;
        padding-left: .5em;
    }
    .your-weapons, .comp-weapons {
        height: 25vh;
        width: fit-content;
        padding-bottom: 0;
        flex-flow: wrap column;
    }
    .damage-flash {
        font-size: 5em;
    }
    .restart {
        font-size: 2em;
        position: relative;
        left: .5em;
    }
    .apple {
        font-size: 3em;
        padding-right: .5em;
    }
    .old-apple {
        color: rgb(131, 153, 103); 
        font-size: 3em;
        padding-right: .5em;
    }
}